* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

.main_box {
    background: url("assets/photo.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one i {
    position: absolute;
    left: 16px;
    font-size: 30px;
    color: white;
    line-height: 60px;
    transition: all 0.3s ease;
}

.btn_two {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    right: 2px;
    width: 25px;
    height: 25px;
    background-color: rgb(40, 40, 40);
}

.btn_two i {
    font-size: 20px;
    line-height: 25px;
    color: grey;
    cursor: pointer;
}

.sidebar_menu {
    position: fixed;
    left: -30%;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.6s ease;
}

.sidebar_menu .logo {
    position: absolute;
    width: 70%;
    line-height: 60px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 1);
    height: 60px;
    left: 15%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 30px;
}

.sidebar_menu .logo a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.sidebar_menu .menu {
    position: absolute;
    top: 90px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin: 5px 80px 5px 10px;
    padding: 14px 20px;
    border-radius: 18px;
}

.sidebar_menu .menu a,i {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 10px;
}

.sidebar_menu .social_media {
    position: absolute;
    bottom: 40px;
    left: 22%;
}

.sidebar_menu .social_media i {
    opacity: 0.4;
    padding-right: 15px;
    font-size: 25px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.btn_one i:hover {
    transform: scale(1.2);
}

.btn_two i:hover {
    color: white;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transition: all 0.5s ease;
    transform: scale(1.4);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one i {
    opacity: 0;
}

.mobile-warning {
    display: none;
}

@media only screen and (max-width: 768px) {
    
    .mobile-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: red;
        z-index: 9999;
        text-align: center;
        padding: 20px;
        font-family: sans-serif;
    }

    body > *:not(.mobile-warning) {
        display: none;
    }
}
